@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Racing+Sans+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-second); 
    font-weight: 400;
    text-decoration: none;
    scroll-behavior: smooth;
    color: var(--text-color-main);
    font-size: var(--font-size-main);

}

h2, h2 span{
    font-family: var(--font-family-main);
    font-weight: 400;
}

:root{
    --font-family-main: 'Roboto', sans-serif;
    --font-family-second: 'Inter', sans-serif;
    --small-headline-font-size-main: 1.2rem;
    --font-weight-bold: 800;
    --text-color-main:#000000;
    --text-color-second: #8953EB;
    --text-color-third: #ffffff;
    --text-color-fourth: #7027F4;
    --background-color-second: #8953EB24;
    --background-color-third: #F1F0F0;
    --background-color-fourth:#f1cfff8e;
    --border-color-first: #00000040;
    --border-color-second: #00000010;

    --port-open-color:#46A62E;
    --port-closed-color: red;
    --main-padding: 1rem;
    
    --box-shadow-main: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --box-shadow-main: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;;
    
    --header-height: 50px;
    --headline-padding: 30px 20px;
    --font-size-main: 1rem;
    --font-size-small-main: 0.9rem;
    --font-size-bigger-main: 1.1rem;
    --font-size-bigger-second: 1.6rem;
    --headline-font-size: 4rem;
    --headline-font-size-small: 1.3rem;
    --sub-headline-font-size-main: 3rem;
    --instruction-font-size-small:1.1rem;
    --instruction-font-size-big:1.3rem;
}


main{
    position: relative;
    width: 100%;
    text-decoration: none;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--main-padding);
    z-index: 1;
    /* overflow-x: hidden; */  
}

header{
    position: absolute;
    display: flex;
    width: 100%;
}

.header-inner{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc( var(--header-height)*1.5);
}

.logo-box{
  position: absolute;
  top: 0;
  left: var(--main-padding);
}

.logo-box img{
  height: calc( var(--header-height)*1.5);

}

nav{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    width: 60%;
    max-width: 500px;
}

.nav-main-list{
    width: 100%;

    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    
}

.nav-link a{
    display: flex;
    height: var(--header-height);
    align-items: center;
    padding: 0 15px;
    font-size: var(--headline-font-size-small);
    font-size: calc(var(--font-size-main)*1.2);
    cursor: pointer;
}

.headline{
    position: relative;
    display: flex;
    width: fit-content;
    flex-direction: column;
    margin: 0 auto;
    padding: var(--headline-padding) ;
    align-items: center;
    margin: 5rem 0 2rem 0;
}

.headline h2{
    font-size: var(--headline-font-size);
    display: inline-block;
    font-weight: var(--font-weight-bold);
}

.headline h2 span{
  font-size: var(--headline-font-size);
    color: var(--text-color-second);
    font-weight: var(--font-weight-bold);
}
.headline h5{
    font-size: var(--headline-font-size-small);
    max-width: 80%;
    text-align: center;
}

.scanner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--main-padding)*2);
    padding-bottom: calc(var(--main-padding)*2);
    width: 100%;
    
}

.scanner > div{
    background-color: var(--background-color-second);
    padding: var(--main-padding);
    border-radius: var(--main-padding);
    box-shadow: var(--box-shadow-main);
}


.info-enter-block-form{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;
    padding: 1rem;
}

.info-enter-block-form input[type="text"],
.info-enter-block-form textarea,
.info-enter-block-form select{
    width: 100%;
    padding: calc(var(--main-padding)/2);
    border-radius: calc(var(--main-padding)/2);
    border: none;
    font-size: var(--font-size-small-main);
}

.info-enter-block-form label{
    padding: 0 0 0.2rem 0.4rem;
    font-size: var(--font-size-small-main);
}
.info-enter-block-form label:not(:first-child){
    margin: 0.8rem 0 0 0;
}

.info-enter-block-form textarea{
    width: 100%;
    resize: none;
}

.scanner-submit-area{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 0 0;
}

.scanner-submit-area button[type="submit"], .check-button{
    box-shadow: var(--box-shadow-main);
    border: none;
    padding: calc(var(--main-padding)/2.3) calc(var(--main-padding)*2.2);
    background-color: var(--text-color-second);
    color: var(--text-color-third);
    border-radius: calc(var(--main-padding)/1.4);
    font-size: var(--font-size-small-main);
}


/* Common Ports Block */
.common-ports-block h3{
    text-align: center;
    padding: 0 0 1rem 0;
    font-size: var(--font-size-bigger-main);
}
.common-ports-block ul{
    list-style: none;
    column-count: 2;
}

.common-ports-block li{
    cursor: pointer;
    margin: 0.2rem;
}
.common-ports-block li span{
    color: var(--text-color-fourth);
    padding: 0 0.5rem;
}

/* Scanner Results */

.scanner-results{
    margin: 3rem 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--main-padding);
    border-radius: var(--main-padding);
    background-color: var(--background-color-second);
    min-height: 150px;
    box-shadow: var(--box-shadow-main);
}


.scanner-results-text{
    display: none;

}
.scanner-results-text > h3{
    text-align: center;
    font-size: var(--small-headline-font-size-main);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-bigger-second);
}


.scanner-results-active .scanner-results-text{
    display: block;
}
.scanner-results-active .scanner-results-loader{
    display: none;
}

.scanner-results-header{
    margin-top: var(--main-padding);
    
    border-radius: var(--main-padding);
    gap: var(--main-padding);
    display: flex;
    list-style: none;
}

.scanner-results-header li{
  display: flex;
  flex-direction: column;
  flex: 2;

}

.scanner-results-header li:first-of-type{
  flex: 3;
}

.scanner-results-header p:first-of-type{
  font-size: var(--font-size-small-main);
  padding-left: calc(var(--main-padding)/2);
  text-align: start;
}
.scanner-results-header p:nth-of-type(2){
  background-color: var(--text-color-third);
  padding: calc(var(--main-padding)/2);
  border-radius: calc(var(--main-padding)/2);
  text-align: start;
}

.scanner-open-ports > li{
    padding-left: var(--main-padding);
}

.scanner-results table{
  margin: var(--main-padding) 0 0 0;
  border-collapse: collapse;
  background-color: var(--background-color-third);
  border-radius: var(--main-padding);
  width: 100%;
  overflow: hidden;

}

.scanner-results th,td{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: var(--main-padding);
  border-bottom: 1px solid var(--border-color-second);
}


.scanner-results table th{
  border-bottom: 1px solid var(--border-color-first);

}

.scanner-results table td:nth-of-type(2){
  text-transform: uppercase;
}

.scanner-results th{
  text-transform: uppercase;
  color: var(--text-color-fourth);
}

.scanner-results tr{
  display: flex;
  width: 100%;
  flex: 1;
}

.table-header td{
  background-color: var(--text-color-third);
  justify-content: start;
  font-size: var(--small-headline-font-size-main);
  font-weight:  var(--font-weight-bold);
  padding: calc(var(--main-padding)/1.5) var(--main-padding);
}


  .vulnerability-scanner{
    background-color: var(--background-color-second);
    width: 100%;
    border-radius: var(--main-padding);
    margin: var(--main-padding) 0;
    box-shadow: var(--box-shadow-main);
  }

  .vulnerability-scanner h2{
    text-align: center;
    padding: var(--main-padding);
  }

  .check-button{
    width: 120px;
    margin: var(--main-padding) 0 0  0;
  }


/* Vulnerability scanner results*/
.scan-results-output__port {
  margin-left: 2.5%;
  font-size: var(--font-size-small-main);
}
.scan-results-output {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: var(--box-shadow-main);
  padding: var(--main-padding);
  border-radius: var(--main-padding);
  background-color: var(--background-color-second);
  margin: var(--main-padding) 0;
  
}

.scan-results-output span{
  background-color: #ba9fec37;

}

.section-one, .section-two, .section-three, .section-four {
  background-color: #ba9fec37;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-main);
  color: #000000;
  overflow: hidden;
}



.scan-results-output h2{
  padding: calc(var(--main-padding)/2);
  text-align: center;
  font-size: var(--font-size-bigger-second);
  font-weight: var(--font-weight-bold);
  
}
.highlighted-link {
  color: var(--text-color-second);
  text-decoration: none;
}
.highlighted-link:hover {
  text-decoration: underline;
}
.scan-results-output button[type="submit"]{  
  
  border-radius: calc(var(--main-padding)/1.5);
  border: none;
  /* padding: calc(var(--main-padding)/1.2) calc(var(--main-padding)*5); */
  padding: calc(var(--main-padding)/2) calc(var(--main-padding)*3);
  margin: calc(var(--main-padding)*1.5) 0 0 0;
  background-color: var(--text-color-second);
  color: var(--text-color-third);
  font-size: var(--font-size-small-main);
  box-shadow: var(--box-shadow-main);
 
}
.scan-results-output button[type="submit"]:hover {
  cursor: pointer;
  
}
.scan-results-output button[type="submit"]:active {
  transform: scale(0.97);
  
}

/* Instruction */
.instruction-header{
  text-align: center;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  font-size: var(--sub-headline-font-size-main);
  margin: 5rem 0 3rem 0;
} 

.instruction {
  display: flex;
  width: 100%;
  margin: calc(var(--main-padding)*2);
}
.instruction-text{
  flex-direction: column;
  display: flex;
  flex: 3;
}


.instruction-text span{
  font-weight: var(--font-weight-bold);
  margin: var(--main-padding) 0;
  font-size: var(--instruction-font-size-big);

}

.instruction-text p{
  margin: 0 calc(var(--main-padding)/2);
  font-size: var(--instruction-font-size-small);
}


.instruction-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.instruction-image img{
  width: 100%;
}



  .background{
    position: fixed;
    height: max-content;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: -1;
    overflow: hidden;
  }
  .bg-element{
    position: absolute;

    background: radial-gradient(24.03% 35.15% at 34.08% 56.7%, rgba(43, 68, 231, 0.1458) 2.5%, rgba(245, 245, 245, 0) 100%);
    height: 100vw;
    width: 100vw;
    
  }

  .bg-element:nth-of-type(1) {
    top: -60vw;
    left: -30vw;
  }

  .bg-element:nth-of-type(2) {
    top: 0vw;
    left: 40vw;
  }

  .bg-element:nth-of-type(3) {
    top: -50vw;
    left: 70vw;
  }

  .bg-element:nth-child(4) {
    top: 70%;
    left: 70%;
  }

  .bg-element:nth-child(5) {
    top: 90%;
    left: 90%;
  }

  

  /* Loader */
.scanner-results-loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) !important;
}


.fulfilling-bouncing-circle-spinner, .fulfilling-bouncing-circle-spinner * {
  box-sizing: border-box;
}

.fulfilling-bouncing-circle-spinner {
  height: 60px;
  width: 60px;
  animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .orbit {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: calc(60px * 0.03) solid var(--text-color-second);
  animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .circle {
  height: 60px;
  width: 60px;
  color: var(--text-color-second);
  display: block;
  border-radius: 50%;
  position: relative;
  border: calc(60px * 0.1) solid var(--text-color-second);
  animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
  transform: rotate(0deg) scale(1);
}

@keyframes fulfilling-bouncing-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  62.5% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  87.5% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
  0% {
    transform: scale(1);
    border-color: transparent;
    border-top-color: inherit;
  }
  16.7% {
    border-color: transparent;
    border-top-color: initial;
    border-right-color: initial;
  }
  33.4% {
    border-color: transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
  }
  50% {
    border-color: inherit;
    transform: scale(1);
  }
  62.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  75% {
    border-color: inherit;
    transform: scale(1);
    opacity: 1;
  }
  87.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  100% {
    border-color: transparent;
    border-top-color: inherit;
    transform: scale(1);
  }
}