{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/NetworkGuardian.svg' %}">
    <title>NETWORK GUARDIAN</title>
</head>
<body>
    <main>
        <header>
            <div class="header-inner">
                <a href="index.html">
                    <div class="logo-box">
                         <h2 class="imba-team">NETWORK GUARDIAN⚡</h2>
                    </div>
                </a>

                <nav class="nav">
                    <ul class="nav-main-list">
                        <li class="nav-link"><a href="#">Scan</a></li>
                        <li class="nav-link"><a href="#">Instructions</a></li>
                        <li class="nav-link header-button"><a href="#">Why we?</a></li>
                    </ul>
                </nav>
                <div class="burger">
                    <div class="burger-first"></div>
                    <div class="burger-second"></div>
                    <div class="burger-third"></div>
                </div>
            </div>
        </header>

        <div class="headline">
            <h2>Check ports online <span>for FREE</span></h2>
            <h5>Lorem ipsum dolor sit amet consectetur. Nibh in tincidunt nunc ipsum feugiat condimentum. </h5>
        </div>

        {% block content %}
        <div class="scanner">
            <div class="info-enter-block">
                <form action="{% url 'port_scan' %}" method="post" class="info-enter-block-form">
                    {% csrf_token %}
                    <label for="ip">Domain/IP</label>
                    <input type="text" name="ip" id="ip" placeholder="172.212.111.84">
                    <label for="scanner-dropdown">Port type:</label>
                    <select id="scanner-dropdown">
                        <option value="CustomPorts">Custom ports</option>
                        <option value="ServerPorts">Server ports</option>
                        <option value="GamePorts">Game ports</option>
                        <option value="ApplicationPorts">Application ports:</option>
                        <option value="P2PPorts">P2P ports:</option>
                    </select>
                    <label for="ports">Ports:</label>
                    <textarea id="ports" name="ports" placeholder="21, 22, 23, 25" rows="6"></textarea>
                    <div class="scanner-submit-area">
                        <button type="submit" class="submit-button">Check</button>
                        <div class="input-box">
                            <input type="checkbox" name="os" id="os">
                            <label for="os">Detect OS</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="sv" id="sv">
                            <label for="sv">Detect SV</label>
                        </div> 
                    </div>
                    
                </form>
            </div>
            <div class="common-ports-block">
                <h3>Common ports</h3>
                <ul class="common-ports-list">
                    <li><span>20 & 21</span> FTP</li>
                    <li><span>22</span> SSH</li>
                    <li><span>23</span> Telnet</li>
                    <li><span>25</span> SMTP</li>
                    <li><span>53</span> DNS</li>
                    <li><span>80</span> HTTP</li>
                    <li><span>110</span> POP3</li>
                    <li><span>111</span> Rpcbind</li>
                    <li><span>115</span> SFTP</li>
                    <li><span>135</span> MSRPC</li>
                    <li><span>139</span> NetBIOS-SSN</li>
                    <li><span>143</span> IMAP</li>
                    <li><span>194</span> IRC</li>
                    <li><span>443</span> SSL / HTTPS</li>
                    <li><span>445</span> SMB</li>
                    <li><span>554</span> RTSP</li>
                    <li><span>587</span> SMTP</li>
                    <li><span>993</span> IMAPS</li>
                    <li><span>995</span> POP3S</li>
                    <li><span>1723</span> PPTP</li>
                    <li><span>2525</span> SMTP (Alternate)</li>
                    <li><span>2086</span> WHM</li>
                    <li><span>3306</span> MySQL</li>
                    <li><span>3389</span> RDP</li>
                    <li><span>5432</span> PostgreSQL</li>
                    <li><span>5632</span> PCAnywhere</li>
                    <li><span>5900</span> VNC</li>
                    <li><span>8080</span> HTTP-Proxy</li>
                </ul>          
            </div>
        </div>
        {% endblock %}
        

        

    <!-- <footer id="footer">
        <div class="footer-inner">
            <h2 class="imba-team">NETWORK GUARDIAN⚡</h2>
            <ul class="footer-nav">
                <li><a href="#">Scan</a></li>
                <li><a href="#">Instructions</a></li>
                <li><a href="#">Why we?</a></li>
            </ul>
        </div>
    </footer> -->
    </main>
    <script src="{% static 'script/script.js' %}"></script>
</body>
</html>