{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style3.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/NetworkGuardian.svg' %}">
    <title>Net-Guardian</title>
</head>
<body>
    <main>
        <header>
            <div class="header-inner">
                <a href="{% url 'port' %}">
                    <div class="logo-box">
                        <img src="{% static './img/NetworkGuardian.svg' %}" alt="Network-Guardian Logo">
                    </div>
                </a>

                <nav class="nav">
                    <ul class="nav-main-list">
                        <li class="nav-link"><a href="{% url 'port' %}">Port Scanner</a></li>
                        <li class="nav-link"><a href="{% url 'vuln' %}">Vulnerability scanner</a></li>
                        <li class="nav-link header-button"><a href="#why-we">Why we?</a></li>
                    </ul>
                </nav>
                <div class="burger">
                    <div class="burger-first"></div>
                    <div class="burger-second"></div>
                    <div class="burger-third"></div>
                </div>
            </div>
        </header>

        <div class="headline">
            <h2>Check ports online <span>for FREE</span></h2>
            <h5>Empowering Security, One Port at a Time: Explore, Assess, and Strengthen with Precision!</h5>
        </div>

        <div class="scanner">
            <div class="info-enter-block">
                <form action="{% url 'port' %}" method="post" class="info-enter-block-form">
                    {% csrf_token %}
                    <label for="domain-ip">Domain/IP</label>
                    <input type="text" name="domain-ip" id="domain-ip" placeholder="172.212.111.84">
                    <label for="scanner-dropdown">Port type:</label>
                    <select id="scanner-dropdown">
                        <option value="CustomPorts">Custom ports</option>
                        <option value="ServerPorts">Server ports</option>
                        <option value="GamePorts">Game ports</option>
                        <option value="ApplicationPorts">Application ports:</option>
                        <option value="P2PPorts">P2P ports:</option>
                    </select>
                    <label for="entered-ports">Ports:</label>
                    <textarea id="entered-ports" name="entered-ports" placeholder="21, 22, 23, 25" rows="6"></textarea>
                    <div class="scanner-submit-area">
                        <button type="submit" class="submit-button">Check</button>
                        <div class="input-box">
                            <input type="checkbox" name="detect-os" id="detect-os">
                            <label for="detect-os">Detect OS</label>
                        </div>
                        <div class="input-box">
                            <input type="checkbox" name="detect-sv" id="detect-sv">
                            <label for="detect-sv">Detect SV</label>
                        </div> 
                    </div>
                    
                </form>
            </div>
            <div class="common-ports-block">
                <h3>Common ports</h3>
                <ul class="common-ports-list">
                    <li><span>20 & 21</span> FTP</li>
                    <li><span>22</span> SSH</li>
                    <li><span>23</span> Telnet</li>
                    <li><span>25</span> SMTP</li>
                    <li><span>53</span> DNS</li>
                    <li><span>80</span> HTTP</li>
                    <li><span>110</span> POP3</li>
                    <li><span>111</span> Rpcbind</li>
                    <li><span>115</span> SFTP</li>
                    <li><span>135</span> MSRPC</li>
                    <li><span>139</span> NetBIOS-SSN</li>
                    <li><span>143</span> IMAP</li>
                    <li><span>194</span> IRC</li>
                    <li><span>443</span> SSL / HTTPS</li>
                    <li><span>445</span> SMB</li>
                    <li><span>554</span> RTSP</li>
                    <li><span>587</span> SMTP</li>
                    <li><span>993</span> IMAPS</li>
                    <li><span>995</span> POP3S</li>
                    <li><span>1723</span> PPTP</li>
                    <li><span>2525</span> SMTP (Alternate)</li>
                    <li><span>2086</span> WHM</li>
                    <li><span>3306</span> MySQL</li>
                    <li><span>3389</span> RDP</li>
                    <li><span>5432</span> PostgreSQL</li>
                    <li><span>5632</span> PCAnywhere</li>
                    <li><span>5900</span> VNC</li>
                    <li><span>8080</span> HTTP-Proxy</li>
                </ul>          
            </div>
        </div>

        
       
        <div class="scanner-results scanner-results-active">
            <div class="scanner-results-text">
                <h3>Results<h3> 
                <ul class="scanner-results-header">
                    <li>
                        <p>Domain/IP</p>
                        {% if host %}
                        <p>{{ host }}</p>
                        {% else %}
                        <p>-</p>
                        {% endif %}
                    </li>
                    <li>
                        <p>Ports scanned:</p>
                        {% if ports_list %}
                        <p>{{ ports_list|length }}</p>
                        {% else %}
                        <p>0</p>
                        {% endif %}
                    </li>
                    <li>
                        <p>Open ports:</p>
                        {% if ports_list %}
                        <p>{{ open_ports|length }}</p>
                        {% else %}
                        <p>0</p>
                        {% endif %}
                    </li>
                </ul>
                <table>
                    <tr class="table-header">
                        <td>Ports</td>
                    </tr>
                    <tr>
                        <th>Port number</th>
                        <th>State</th>
                        <th>Detect SV</th>
                        <th>Service Name</th>
                    </tr>
                    {% for port in open_ports %}
                    <tr>
                        <td>
                            <div onclick="postData(event)" class="ask-ai">Ask AI</div>
                            <div class="port-number">{{ port.port }}</div>
                        </td>
                        <td>{{ port.state }}</td>
                        <td>{{ port.detect }}</td>
                        <td>{{ port.service }}</td>
                    </tr>
                    {% endfor %}

                    {% for port in closed_ports %}
                    <tr>
                        <td>{{ port.port }}</td>
                        <td>{{ port.state }}</td>
                        <td>{{ port.detect }}</td>
                        <td>{{ port.service }}</td>
                    </tr>
                    {% endfor %}    
                </table>
            </div>
        </div>
        <h2 class="instruction-header">Instruction</h2>
        <div class="instruction">
            
            <div class="instruction-text">
                <span>Enter Domain/IP</span>  
                <p>Specify the domain name or IP Address in the search bar whose ports you must check.</p> 
                <span>Select Port Type:</span>
                <p>The default option is “Custom Ports” it means that you will have to manually put in numbers of the ports you want to be checked or you can just select one of the groups regarding your intrest</p>
                <span>Start Port Scanning</span>
                <p>Click on “Check” to start the process of scanning . It will quickly test each port and display the results.
                It will display “Open” next to each port that receives traffic. If it shows “Closed”, it will indicate that the respective port is unavailable or blocked.</p>
            </p>
            </div>
            <div class="instruction-image">
                <img src="{% static 'img/workcloudimg.svg' %}" alt="Workcloud">
            </div>
        </div>
        <h2 class="why-we-header" id="why-we">Why we?</h2>
        <div class="why-we">
            <div class="why-we-image">
                <img src="{% static 'img/why-we.png' %}" alt="Man working with notebook">
            </div>
            <div class="why-we-text">
                <p>Our open port scanner provides an easy and fast way to run an online scan with zero setup and maintenance.  
                    Each port scan provides you will a professinal report you can share with colleagues, managers and clients. We also keep our port scan tool up to date through constant updates regarding performance and functionality 
                    Information at a glance 
                    The portscan report turns the raw output of our scanner into preformatted tables which anyone can quickly go through.
                </p>
            </div>
        </div>
    <!--
            <div class="scanner-results-loader fulfilling-bouncing-circle-spinner">
                <div class="circle"></div>
                <div class="orbit"></div>
            </div>
        </div>
        <div class="headline">
            <h2>You can also scan your <span>network security!</span></h2>
        </div>

    -->
    </main>
    <div class="background">
        <div class="bg-element"></div>
        <div class="bg-element"></div>
        <div class="bg-element"></div>

    </div>
    
    <script src="{% static 'script/portscanner.js' %}"></script>
</body>
</html>